.pokemon-card {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 10rem;
    background-color:deepskyblue;
    border-radius: 5px;
    min-height: calc((184/16)*1rem);
    min-width: 10rem;
}

.pokemon-card img {
    width: 100%;
}